.container {
  width: 100%;
  height: 100%; /* Full screen height */
  padding: 20px;
}

.collapse {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  width: 100%; /* Full width */
  margin-bottom: 20px;
}

.pokemonImage {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 25px;
}

.pokemonImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-items: start;
}

.nameContainer {
  color: white;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.header {
  display: flex;
}

.ant-collapse-header {
  color: white !important;
  font-size: 1.2rem; /* Increase font size */
}

.ant-collapse-content-box {
  background-color: black;
  color: white;
  opacity: 1; /* Remove opacity */
  padding: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .collapse {
    margin-bottom: 10px;
  }

  .ant-collapse-header {
    font-size: 1rem;
  }

  .ant-collapse-content-box {
    padding: 10px;
  }
}