.container {
  alignitems: "center";
  display: flex;
  flex-direction: column;
}

.collapse {
    background-color: rgb(0, 0, 0);
    opacity: 50%;
    color: rgb(255, 255, 255);
  }

.nameContainer {
    color: white;
    display: flex;
    align-items: center;
    flex: 1;
}

.ant-collapse-header {
    color: white !important;
  }
.ant-collapse-content-box {
    background-color: black;
    color: white;
    opacity: 1000%;
}